<template>
  <v-container :class="containerClasses">
    <v-row align="center" class="mb-sm-16" justify="center">
      <v-spacer></v-spacer>
      <v-col cols="12" sm="6" xl="5">
        <LoginRegisterForm ref="form" :type="type" @login="login" @register="register"></LoginRegisterForm>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
  </v-container>
</template>

<script>
import LoginRegisterForm from "@/components/LoginRegister/LoginRegisterForm";

export default {
  components: {LoginRegisterForm},
  props: {
    type: {
      type: String,
      required: true,
    }
  },

  computed: {
    containerClasses() {
      return this.$vuetify.breakpoint.smAndUp ? ['fill-height'] : [];
    },
  },

  methods: {
    async login(user) {
      this.$refs.form.loading = true;
      if (await this.$store.dispatch('auth/login', user)) {
        await this.$router.push('/');
      }
    },

    async register(user) {
      this.$refs.form.loading = true;
      if (await this.$store.dispatch('auth/register', user)) {
        await this.$router.push('/');
      }
    }
  }
}
</script>