<template>
  <v-card :loading="loading && $vuetify.breakpoint.smAndUp" :outlined="$vuetify.breakpoint.smAndUp"
          class="px-sm-10 pb-sm-6"
          flat>
    <v-card-title class="px-0 py-sm-6">{{ buttonText }}</v-card-title>
    <v-card-text class="px-0">
      <div v-if="!$store.state.auth.authorized">
        <v-form ref="form" v-model="valid" class="mb-4" @submit.prevent="submit">
          <v-text-field v-if="registration" v-model.lazy="user.name"
                        :required="registration" :rules="rules.nameRules" label="Name" outlined>
          </v-text-field>
          <v-text-field v-model.lazy="user.email" :rules="rules.emailRules" label="Email" outlined
                        required type="email"></v-text-field>
          <v-text-field v-model.lazy="user.password" :rules="rules.passwordRules" label="Password" outlined
                        required type="password"></v-text-field>
          <v-btn :loading="loading" block color="primary" type="submit" x-large>{{ buttonText }}</v-btn>
        </v-form>
        <router-link v-if="registration" to="login">Login here</router-link>
        <router-link v-else to="register">Register here</router-link>
      </div>
      <div v-else>
        <p>You already logined as {{ $store.state.user.name }}</p>
        <v-btn block class="mb-4" color="primary" x-large @click="logout">Logout</v-btn>
        <p>or go to
          <router-link to="/">main page</router-link>
        </p>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'LoginRegisterForm',
  events: ['login', 'register'],
  props: {
    type: {
      type: String,
      required: true,
    }
  },

  data() {
    return {
      user: {
        email: '',
        password: '',
        name: '',
      },
      valid: true,
      loading: false,
      rules: {
        nameRules: [
          x => !!x || "Name is required",
          x => (x && x.length <= 10) || 'Name must be less than 10 characters',
        ],
        emailRules: [
          x => !!x || 'E-mail is required',
          x => /.+@.+\..+/.test(x) || 'E-mail must be valid',
        ],
        passwordRules: [
          x => !!x || "Password is required",
          x => (x && x.length >= 6) || 'Password must be more than 5 characters',
        ]
      }
    }
  },

  computed: {
    registration() {
      return this.type === 'registration';
    },

    buttonText() {
      return this.registration ? "Register" : "Login";
    }
  },

  async mounted() {
    if (this.$store.state.auth.authorized && !this.$store.state.user.name)
      await this.$store.dispatch('user/fetch');
  },

  methods: {
    submit() {
      this.$refs.form.validate();
      if (this.valid) {
        if (this.registration)
          this.$emit('register', this.user);
        else
          this.$emit('login', {
            email: this.user.email,
            password: this.user.password,
          });
      }
    },
    async logout() {
      await this.$store.dispatch('auth/logout');
    }
  }
}
</script>