<template>
  <v-container class="pb-0 pb-sm-12">
    <AddBookDialog v-model="addBookDialog" @add="addBook"></AddBookDialog>
    <v-row justify="center">
      <v-col cols="12" lg="6" md="8" sm="9">
        <v-card class="mt-4 mt-sm-8" flat>
          <v-card-title class="text-h4 text-sm-h3 mb-2 mb-sm-6">
            Books to read
          </v-card-title>
          <v-card-text>
            <p v-if="booksToRead.length === 0" class="text-h5">
              🤔 There is nothing. Just add some books.
            </p>
            <v-row>
              <v-expansion-panels accordion hover>

                <v-expansion-panel v-for="(book, i) in booksToRead" :key="book.order">
                  <v-expansion-panel-header>{{ i + 1 }}.
                    {{ book.title }}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-card flat>
                      <v-card-title>
                        {{ book.title }}
                      </v-card-title>
                      <v-card-subtitle>
                        {{ book.author }}
                      </v-card-subtitle>
                      <v-divider></v-divider>
                      <v-card-text>
                        <span class="font-weight-bold">{{ book.pagesCount }}</span> pages <br>
                        Added <span
                          class="font-weight-bold"> {{ new Date(Date.parse(book.addedDate)).toDateString() }}</span>
                      </v-card-text>
                      <v-card-actions>
                        <v-btn color="red" large text @click="deleteBook(book)">Delete</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-row>
          </v-card-text>
        </v-card>

        <v-divider class="mt-12"></v-divider>

        <v-card class="mt-4 mt-sm-8 mb-16" flat>
          <v-card-title class="text-h4 text-sm-h3 mb-2 mb-sm-6">
            Already readed
          </v-card-title>
          <v-card-text>
            <p v-if="readBooks.length === 0" class="text-h5">
              😐 Nothing yet
            </p>
            <v-row>
              <v-expansion-panels accordion>
                <v-expansion-panel
                    v-for="(book, i) in readBooks" :key="book.order">
                  <v-expansion-panel-header>{{ i + 1 }}.
                    {{ book.title }}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-card flat>
                      <v-card-title>
                        {{ book.title }}
                      </v-card-title>
                      <v-card-subtitle>
                        {{ book.author }}
                      </v-card-subtitle>
                      <v-divider></v-divider>
                      <v-card-text>
                        <span class="font-weight-bold">{{ book.pagesCount }}</span> pages <br>
                        Added
                        <span class="font-weight-bold"> {{ new Date(Date.parse(book.addedDate)).toDateString() }}</span>
                        <br>
                        Readed
                        <span class="font-weight-bold"> {{
                            new Date(Date.parse(book.completedDate)).toDateString()
                          }}</span>
                      </v-card-text>
                      <v-card-actions>
                        <v-btn color="red" d large text @click="deleteBook(book)">Delete</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-footer class="mb-10 ml-2 mb-sm-16" fixed style="background-color: rgba(0, 0, 0, 0); z-index: 10">
      <v-row class="mb-0 mb-sm-8" justify="center">
        <v-col cols="12" lg="6" md="8" sm="9">
          <v-row class="mr-2" justify="end">
            <v-btn color="primary" fab @click="addBookDialog = true">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-footer>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
import AddBookDialog from "../components/AddBookDialog";

export default {
  name: "Books",

  data() {
    return {
      addBookDialog: false,
    }
  },

  components: {
    AddBookDialog,
  },

  computed: {
    ...mapState({
      books: state => state.books.books,
    }),

    booksToRead() {
      return this.books.filter(x => !x.isCompleted);
    },

    readBooks() {
      return this.books.filter(x => x.isCompleted);
    }
  },

  async beforeCreate() {
    if (this.$store.state.books.books.length === 0)
      await this.$store.dispatch('books/fetch');
  },

  methods: {
    async addBook(book) {
      await this.$store.dispatch('books/add', book);
      this.addBookDialog = false;
    },

    async deleteBook(book) {
      await this.$store.dispatch('books/delete', book);
      await this.$store.dispatch('showSnackbar', {
        text: '👹 Deleted 👹',
        color: 'red',
      })
    }
  }
}
</script>

<style scoped>

</style>