<template>
  <v-container>
    <v-row>
      <v-spacer></v-spacer>
      <v-col cols="12" lg="7" sm="10">
        <div v-if="$vuetify.breakpoint.smAndUp">
          <h1 class="text-h3 text-sm-h2 my-16">👋 Welcome, {{ userName }}</h1>
          <v-divider></v-divider>
        </div>
        <div class="my-8 my-sm-14">
          <h2 class="text-h4 text-sm-h3 mb-8 mb-sm-10">📚 You are reading now</h2>
          <CurrentBookCard :book="currentBook"></CurrentBookCard>
        </div>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
  </v-container>
</template>

<script>
import {mapState} from 'vuex';
import CurrentBookCard from "../components/CurrentBookCard";

export default {
  name: 'Home',
  components: {CurrentBookCard},

  data() {
    return {}
  },

  computed: {
    ...mapState({
      currentBook: state => state.book.current,
      userName: state => state.user.name
    })
  },

  async mounted() {
    await this.$store.dispatch('book/fetch');
    await this.$store.dispatch('user/fetch');
  }
}
</script>
