<template>
  <LoginRegisterView type="login"></LoginRegisterView>
</template>

<script>
import LoginRegisterView from "@/components/LoginRegister/LoginRegisterView";

export default {
  data() {
    return {}
  },
  components: {
    LoginRegisterView
  },
}
</script>
