<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" sm="7">
        <h2 class="text-h4 text-sm-h3 mt-4 mt-sm-8 mb-4 mb-sm-8">Profile</h2>
        <v-card>
          <v-card-title>
            User
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            Name <span class="font-weight-bold">{{ user.name }}</span> <br>
            Email <span class="font-weight-bold">{{ user.email }}</span>
          </v-card-text>
          <v-card-actions>
            <v-btn color="orange" large text @click="$store.dispatch('auth/logout')">
              <v-icon class="mr-1">mdi-logout</v-icon>
              Logout
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'Profile',
  components: {},

  data() {
    return {}
  },

  computed: {
    ...mapState({
      user: state => state.user,
    })
  },

  async mounted() {
    if (this.$store.state.auth.authorized && !this.$store.state.user.name)
      await this.$store.dispatch('user/fetch');
  },

  methods: {}
}
</script>
