<template>
  <v-dialog :value="value" max-width="600px" @input="$emit('input', false)">
    <v-card>
      <v-card-title>Add book</v-card-title>
      <v-card-text>
        <v-form @submit.prevent="submit">
          <v-text-field v-model="book.title" autofocus label="Book title"></v-text-field>
          <v-text-field v-model="book.author" label="Author"></v-text-field>
          <v-text-field v-model="book.pagesCount" label="Pages" type="number"></v-text-field>
          <button hidden type="submit"></button>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" text @click="submit">Add book</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AddBookDialog",
  props: ['value'],
  data() {
    return {
      book: {
        title: "",
        pagesCount: 0,
        author: "",
      }
    }
  },
  methods: {
    submit() {
      this.$emit('add', this.book);
    }
  },

  watch: {
    value() {
      this.title = "";
      this.pagesCount = 0;
      this.author = "";
    }
  }

}
</script>