<template>
  <v-dialog :value="value" max-width="600px" @input="$emit('input', false)">
    <v-card>
      <v-card-title>Add book progress</v-card-title>
      <v-card-text>
        <v-form @submit.prevent="submit">
          <v-text-field v-model="pagesCount" autofocus label="Pages count" type="number"></v-text-field>
          <button hidden type="submit"></button>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" text @click="submit">Add progress</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AddBookProgressDialog",
  props: ['value'],
  data() {
    return {
      pagesCount: 0,
    }
  },
  methods: {
    submit() {
      this.$emit('add', this.pagesCount);
    }
  },
  watch: {
    value() {
      this.pagesCount = 0;
    }
  }
}
</script>