<template>
  <v-card loading outlined>
    <template slot="progress">
      <v-progress-linear :color="isCompleted ? 'green' : 'primary'" :value="bookProgress"
                         height="10"></v-progress-linear>
    </template>

    <v-card-title class="text-h5 text-sm-h4 ma-0 mx-sm-6 mt-sm-3">
      <span v-if="title">
        {{ title }}<br v-if="!$vuetify.breakpoint.smAndUp"><span v-else>.</span> {{ author }}
      </span>
      <span v-else>There is nothing. Add your first book</span>
    </v-card-title>

    <v-card-title v-if="title" class="text-h6 text-sm-h5 ma-0 mx-sm-6 mt-sm-3 pt-0 pt-sm-4">Progress</v-card-title>

    <v-card-text v-if="title" class="mx-0 mx-sm-6">
      <p class="subtitle-1">
        Reading during <span class="font-weight-bold">{{ ~~((new Date() - addedDate) / 86400000) }}</span> days. <span
          class="font-weight-bold">{{ currentPage }}</span> pages done, <span class="font-weight-bold">{{
          pagesLeft
        }}</span> more to read
      </p>
    </v-card-text>

    <v-divider></v-divider>

    <AddBookProgressDialog v-model="addBookProgressDialog" @add="addProgress"></AddBookProgressDialog>
    <AddBookDialog v-model="addBookDialog" @add="addBook"></AddBookDialog>

    <v-card-actions class="mx-0 mx-sm-6">
      <v-row class="py-4" justify="space-between">
        <div>
          <v-btn :disabled="isCompleted || !title" color="primary" large text @click="addBookProgressDialog = true;">Add
            progress
          </v-btn>
          <v-btn v-if="isCompleted || !title" color="green" large text @click="addBookDialog = true;">Add new book
          </v-btn>
        </div>
        <v-btn color="primary" large text>Details</v-btn>
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script>
import AddBookProgressDialog from "../components/AddBookProgressDialog";
import AddBookDialog from "../components/AddBookDialog";

export default {
  name: "CurrentBookCard",
  components: {
    AddBookProgressDialog,
    AddBookDialog,
  },
  props: {
    book: {
      required: true,
    }
  },

  data() {
    return {
      addBookProgressDialog: false,
      addBookDialog: false,
    }
  },

  computed: {
    title() {
      return this.book?.title
    },

    addedDate() {
      return this.book ? new Date(Date.parse(this.book.addedDate)) : null;
    },


    author() {
      return this.book?.author
    },

    currentPage() {
      return this.book?.currentPage
    },

    pagesCount() {
      return this.book?.pagesCount
    },

    pagesLeft() {
      return this.pagesCount - this.currentPage;
    },

    bookProgress() {
      return ~~(this.currentPage / this.pagesCount * 100)
    },

    isCompleted() {
      return this.book?.isCompleted;
    }
  },

  methods: {
    async addProgress(pages) {
      await this.$store.dispatch('book/addProgress', pages);
      this.addBookProgressDialog = false;
      if (this.$vuetify.breakpoint.smAndUp)
        await this.$store.dispatch('showSnackbar', {text: '👍 Keep doing', timeout: 2300, color: 'green'});
    },

    async addBook(book) {
      await this.$store.dispatch('books/add', book);
      this.addBookDialog = false;
    }
  }
}
</script>

<style scoped>

</style>