<template>
  <v-snackbar v-model="snackbar" :color="color" :width="$vuetify.breakpoint.smAndUp ? 20 : 30">
    <p class="text-sm-h6 pa-0 ma-0 text-center">{{ text }}</p>
  </v-snackbar>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "Snackbar",

  data() {
    return {
      text: null,
      color: 'primary'
    }
  },

  computed: {
    ...mapState({
      snackbar: state => state.showSnackbar,
    })
  },
}
</script>

<style scoped>

</style>