<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app bottom temporary>
      <v-list nav>
        <v-list-item v-for="link in links" :key="link.title" link @click="push(link.path)">
          <v-list-item-icon>
            <v-icon large>{{ link.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              {{ link.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar :dense="$vuetify.breakpoint.smAndUp" app clipped-left clipped-right color="primary" dark>
      <v-app-bar-nav-icon v-if="!$vuetify.breakpoint.smAndUp" @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-icon v-else class="mr-4 ml-8">{{ 'mdi-notebook-multiple' }}</v-icon>
      <v-app-bar-title><p class="ma-0">BooksList</p></v-app-bar-title>
      <v-spacer></v-spacer>
      <div v-if="$vuetify.breakpoint.smAndUp" class="mr-8">
        <router-link v-for="link in links" :key="link.title" :to="link.path" class="text-decoration-none ml-4"
                     style="color: inherit">
          {{ link.title }}
        </router-link>
      </div>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>

    <Snackbar ref="snackbar" class="mb-2 mb-sm-16"></Snackbar>

    <v-footer absolute app color="primary" padless>
      <v-card class="primary" flat tile>
        <v-card-text class="white--text text-center">
          {{ new Date().getFullYear() }} — <strong>BooksList</strong>
        </v-card-text>
      </v-card>
    </v-footer>

  </v-app>
</template>

<script>
import Snackbar from "./components/Snackbar";

export default {
  name: 'App',

  components: {
    Snackbar
  },

  data() {
    return {
      drawer: false,
      snackbar: false,
      links: [
        {title: 'Home', path: '/', icon: 'mdi-home'},
        {title: 'Books', path: '/books', icon: 'mdi-format-list-bulleted-square'},
        {title: 'Profile', path: '/profile', icon: 'mdi-account-circle'},
      ]
    }
  },

  beforeCreate() {
    if (localStorage.getItem('token'))
      this.$store.commit('auth/login');
  },

  mounted() {
    this.$store.commit('setSnackbar', this.$refs.snackbar);
  },

  methods: {
    async push(route) {
      await this.$router.push(route);
    }
  }
}
</script>
